<h1>Home#index</h1>
<table>
    <% @articles.each do |article| %>
        <tr>
          <td><%= article.created_at %></td>
          <td><%= article.created_at %></td>
          <td><%= article.created_at %></td>
          <td><%= link_to 'Show', home_list_path(article) %></td>
          <td><%= link_to 'Edit', home_edit_path(article) %></td>
          <td><%= link_to 'Destroy', home_delete_path(article), :confirm => 'Are you sure?', :method => :delete %></td>
          <td><%= link_to "Issues", {:controller => "home", :action => "index"}, {:title => "Issues"} %></td>
        </tr>
    <% end %>
</table>